.button{
  height: 50px;
  width: 200px;
  padding: 20px;
}
html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  width: 500px;
  margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.logo{
  font-size: 50px;
  color: white;
  margin-bottom: 15px;
  margin-top: 0;
}
.tagline{
  font-size: 24px;
  color: white;
}
.button{
background-color: blue;
color: white;
border: none;
padding: 10px 20px;
border-radius: 4px;
cursor: pointer;
}
.button:hover{
  color: blue;
  background: white;
}
/*
Chat Page
*/
.member-area{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background: navy;
  color: #fff;
}
.message-area{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 30%;
  width: 70%;
}
.user-info{
  background: black;
  padding: 10px;
  font-size: 20px;
}
.logout{
  float: right;
}
.member{
  padding: 8px;
  border-bottom: solid 1px yellow;
}
.member:hover{
  cursor: pointer;
color:navy;
background: white;
}
.chat-info{
  background: white;
  padding: 10px;
  color: #000000;
  font-size: 20px;
}
.member.active{
  font-weight: bold;
  background: lightblue;
  color: #000000;
}
.messages{
  background: lightblue;
  height: 80%;
  padding: 10px;
  overflow: auto;
}
.message{
  background: grey;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  border-bottom: solid 3px black;
  border-radius: 4px;
}
.message.by-user{
  background: white;
}
.chat-form{
  position: fixed;
  left: 30%;
  bottom: 0%;
  width: 70%;
  background: white;
  padding: 20px;
}
.chat-message{
  padding: 10px;
  border: solid 1px lightgray;
  border-radius: 4px;
  display: block;
  width: 100%;
}
